.root {
	-fx-background-color: #fff;
	-fx-font-family: 'san-serif';
	-fx-font-size: 1.2em;	
	
	-fx-primary: #032541;
	-fx-secondary: #01b4e4;	
}

/* NAVBAR SECTION */

.navbar {
	-fx-background-color: -fx-primary; 	
}

.logo {
	-fx-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #90cea1 0.0%, #05b4e3 100.0%);	
	-fx-font-size: 16px;
}


.logo:hover {
	-fx-cursor: hand;
}

.glyph-icon{
	-fx-fill: #fff;
}

.navbar .button {
	-fx-background-color: transparent;
	-fx-text-fill: #fff;
	-fx-font-weight: bold;
	-fx-cursor: hand;
	-fx-font-size: 16px;
}

#lang {
	-fx-border-color: #fff;
	-fx-border-radius: 8px;
}

#lang:hover {
	-fx-text-fill: -fx-primary;
	-fx-background-color: #fff; 	
}

.button-user {
	-fx-background-color: #805be7 !important;
	-fx-background-radius: 50.0%;
	-fx-pref-height: 40;
	-fx-pref-width: 40;	
	-fx-padding: 0;			
}


.context-menu {
	-fx-background-radius: 5;	
}

.menu-item {
	-fx-background-color: transparent;	
}

.menu-item .label {
	-fx-text-fill: #000;
}

.menu-item:hover {
	-fx-background-color: #dcdcdc;	
}





/* SIDE PANEL SECTION */


.accordion > .first-titled-pane > .content {
	-fx-background-color: #fff;
	-fx-border-color: none;
} 

.accordion > .first-titled-pane > .title {
	-fx-background-color: #fff;
}

.scroll-pane {
	-fx-background-color: transparent;
}

.scroll-pane .viewport {
	-fx-background-color: #fff;				
}

.scroll-pane > .scroll-bar:vertical   {
	-fx-background-color: transparent;	
}

.scroll-pane > .scroll-bar:vertical > .thumb, .decrement-arrow, .increment-arrow, .corner  {
	-fx-background-color: transparent;	
}

.side-panel {
	-fx-pref-width: 250.0;
}

.side-panel-title {
	-fx-font-size: 24px;	
}

.side-round-button {
	-fx-background-radius:50px;
	-fx-border-radius: 50px;
	-fx-border-color: #d0d0d0;
	-fx-background-color: transparent;
}

.side-round-button:hover,
.side-round-button:selected  {	
	-fx-background-color: -fx-secondary;
	-fx-text-fill: #fff;
}

.check-box:selected > .box {
	-fx-background-color: -fx-secondary;
}

.check-box:selected > .box > .mark {
    -fx-background-color: #fff;
}

.radio-button:selected > .radio {
	-fx-background-color: -fx-secondary;
}

.radio-button:selected > .radio > .dot {
	-fx-background-color: #fff;
}

.slider:horizontal > .track, .thumb {
	-fx-background-color: -fx-secondary;
}

/* CARD SECTION */


.card {	
	-fx-background-color: #fff;	
	-fx-background-radius: 10 10;
	-fx-blend-mode: src-atop;
	-fx-alignment: top-center;
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, #000, 8,0,0,0);
}

.card-image {
	-fx-background-color: #fff;	
	-fx-background-radius: 10 10 0 0;	
	-fx-blend-mode: src-atop;
}

.card-image > .image-view {
	-fx-blend-mode: src-atop;
}

.card-content {
	-fx-padding: -30 0 0 10; 
}

.card-percent-text {
	-fx-text-fill: #fff;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.card-content-name {
	-fx-text-fill: #000;
	-fx-font-size: 15px;
	-fx-font-weight: bold;	
}

.card-content-name:hover {
	-fx-text-fill: -fx-secondary;
}

.card-content-date {
	-fx-text-fill: #696969;
	-fx-font-size: 14px;	
}


/* PROGRESS CIRCLE */

.circle {
	-fx-stroke-width: 4;
	-fx-stroke-type: inside;
}

.circle-behind {
	-fx-fill: #374252;
}

.circle-over {
	-fx-fill: transparent;	
	-fx-stroke-line-cap: round;
	-fx-alignment: top-right;
}





/* HOME SECTION */

.load-button {
	-fx-background-color: -fx-secondary;
	-fx-text-fill: #fff;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.load-button:hover  {
	-fx-text-fill: -fx-primary;
}

.pagination > .pagination-control  {
	-fx-font-size: 14px;
}


.pagination > .pagination-control > .control-box > .number-button {
	-fx-background-color: #fff;
	-fx-text-fill: -fx-primary;	
}


.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
	-fx-background-color: #fff;	
}

.pagination > .pagination-control > .control-box > .number-button:hover {
	-fx-background-color: #01b4e4;
	-fx-text-fill: #fff;	
}



/* MOVIE SECTION */

.movie-menu {
	-fx-padding: 10 10;
	-fx-spacing: 40;
}

.spacing-10 {
	-fx-spacing: 10;
	-fx-font-size: 16px;	
}

.spacing-10 > .label {
	-fx-text-fill: #fff;
}

.movie-content {
	-fx-padding: 20 20;	
}

.movie-backdrop-image {
	-fx-background-image: url("../img/fastx-backdrop-original.jpeg");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-size: stretch;	
}

.movie-backdrop {
	-fx-background-color: rgb(0,0,0,0.44);	
}

.movie-menu-buttons {
	-fx-background-color: transparent;
}

.movie-menu-buttons > .glyph-icon {
	-fx-fill: #000;	
}


.movie-panel-l {
	-fx-padding: 20 20;	
}

.movie-panel-r {
	-fx-padding: 20 20;
	-fx-spacing: 10;	
}

.movie-card {
	-fx-background-color: #fff;
	-fx-background-radius: 10 10;
	-fx-blend-mode: src-atop ;
}

.movie-card-image {		
	-fx-blend-mode: src-atop;
}

#movieName{
	-fx-font-size: 2.4em;
	-fx-font-weight: bold;
} 

#movieYear {
	-fx-font-size: 2.4em;
	-fx-text-fill: #dcdcdc;
} 

.movie-percent-text {
	-fx-text-fill: #fff;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}

.movie-panel-l-buttons {
	-fx-background-color: transparent;
	-fx-text-fill: #fff;
	-fx-font-weight: bold;
} 

.movie-panel-l-play-trailer:hover {
	-fx-text-fill: #dcdcdc;
}


.movie-panel-l-button {
	-fx-background-color: #032541;
	-fx-background-radius: 100;
	-fx-border-color: none;
}

.movie-panel-l-tagline {
	-fx-text-fill: #dcdcdc;
	-fx-font-style: italic;
	-fx-font-weight: bold;
}

.movie-panel-l-overview {
	-fx-font-size: 1.4em;
	-fx-font-weight: bold;
}



























